html
	head
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
		link(rel='icon', type='image/png', href='/favicon32.png')
		link(rel="stylesheet", href="/custom.css")

	body
		ul.nav.nav-tabs.navbar-dark.bg-dark
			li.nav-item
				a.nav-link(href='/') Home
			li.nav-item
				a.nav-link(href='/transactions') Transactions
			li.nav-item
				a.nav-link(href='/users') Users
			li.nav-item
				a.nav-link(href='/books') Books

	block head
